/* raiz */
:root {
    --main-color-dark: #17252a;
    --main-color-dark-transparent: rgba(23, 37, 42, 0.5);
    --main-color-ligth: #2b7a7b; 
    --second-color-dark: #3aafa9;
    --third-color-ligth: #def2f1;

}
h1{
    color: var(--main-color-dark) !important;
    font-weight: 800 !important;
}
h2{
    font-weight: 500 !important;
}
h3{
    font-weight: 300 !important;
}
*{
    font-family:'Playfair Display', serif;
}
/* body */
body{
    background-color: var(--third-color-ligth) !important;
    color: var(--third-color-ligth) !important;
    margin: 0 .3rem 0 .3rem !important;
}
/* nav */
.my-nav{
    background-color:var(--main-color-dark);
}

/* carousel */

.carousel-text h2{
    color: var(--third-color-ligth);
    font-size: 4rem;
    text-shadow: #2b7a7b 5px  5px 5px;
}
.carousel-text p{
    color: var(--third-color-ligth);
    text-shadow: #2b7a7b 5px  5px 5px;
    background-color: var(--main-color-dark-transparent);
    border-radius: 8px;
}
.carousel-1{
    background-color: var(--main-color-dark);
}


/* hero */
.my-hero-class{
    
   background-image: linear-gradient(#17252a, #def2f1);
    
}
.titulo h1{
    color: var(--third-color-ligth);
    
    text-shadow: #2b7a7b 5px  5px 5px;
}
.subtitulo-principal{
    color: var(--third-color-ligth);
    font-size: 5rem;
    text-shadow: #2b7a7b 5px  5px 5px;
    background-color: var(--main-color-dark-transparent);
}
/* tendencias */
.tendencias-class{
    background-color: var(--main-color-dark);
    padding-bottom: 2rem;
    color: var(--main-color-dark);
}
.tendencias-class h3, .tendencias-class h2{
    color: var(--third-color-ligth);
}
.subtitulo-tendencias h2{
    color: #17252a !important;
}
.cards-container{
    width: 80%;
}
.card-imagen-container{
    max-height: 111px;
    overflow: hidden !important;
}
.my-card-1{
    background-color: var(--third-color-ligth) !important;
   
}
.fiction-class{
    background-color: var(--main-color-dark) !important;
    border-radius: 5px;
}
.fiction-class h2, .fiction-class h4{
    color: var(--third-color-ligth) !important;
}
.my-card-style{
    box-shadow: 3px 3px 3px rgba(58, 175, 169, 0.6);
}
/* criticas */
.imagen-critica{
    width: 80%;
}
.p-critica{
    width: 80%;
    margin: auto;
    color: #17252a;
}
.tituloCriticas h2{
    color: var(--main-color-dark) !important;
}
/* series */
.my-cards-series{
    background-color: var(--third-color-ligth);
    color: var(--main-color-dark);
    box-shadow:  3px 3px 3px rgba(58, 175, 169, 0.6);
}
.series{
    background-color: var(--main-color-dark);
}
.titulo-series h2{
    
}
/* formulario */
.enviar{
    width: 5rem !important;
    background-color: var(--second-color-dark);
    border-radius: 5px;
    border: none;
    color: var(--main-color-dark);
    transition: 0.3s ease;
}
.enviar:hover{
    color: var(--third-color-ligth);
    background-color: var(--main-color-ligth);
    width: 8rem !important;
    box-shadow: 3px 3px 3px var(--main-color-dark-transparent);
}
.contacto{
    color: var(--main-color-dark);
}
/* footer */
footer{
    background-color: var(--main-color-dark);
}

/* media queries */



